.about__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4.5rem;
}
about__title {
  display: flex;
  align-items: center;
  color: var(--secondary-gray);
  font-size: var(--text-xl);
  font-weight: 600;
}
.about__title > span {
  font-size: var(--text-base);
  padding-right: 1rem;
  color: var(--primary-green);
}
.about__container {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__content {
  margin-bottom: 3rem;
  flex: 1;
  padding-right: 2.5rem;
}
.about__content > * + * {
  margin-top: 1.2rem;
}
.about__text {
  font-size: var(--text-lg);
}
.about__text > img {
  margin-top: 1rem;
}
.about__image {
  width: 18rem;
  height: 18rem;
}
.about__image > img {
  width: 100%;
  border-radius: 0.5rem;
}
