.about__section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4.5rem;
}
about__title {
  display: flex;
  align-items: center;
  color: var(--secondary-gray);
  font-size: var(--text-xl);
  font-weight: 600;
}
.about__title > span {
  font-size: var(--text-base);
  padding-right: 1rem;
  color: var(--primary-green);
}
.about__container {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__content {
  margin-bottom: 3rem;
  flex: 1;
  padding-right: 2.5rem;
}
.about__content > * + * {
  margin-top: 1.2rem;
}
.about__text {
  font-size: var(--text-lg);
}
.about__text > * + * {
  margin-top: 1rem;
}
.about__text > img {
  margin-top: 1rem;
}
.about__technologies {
  margin-top: 2.5rem;
  list-style-position: inside;
  font-size: var(--text-sm);
}
.about__technologies > li::marker {
  color: var(--primary-green);
}
.about__image {
  width: 18rem;
  height: 18rem;
}
.about__image > img {
  width: 100%;
  border-radius: 0.5rem;
}
@media (min-width: 640px) {
  .about__title {
    font-size: var(--text-2xl);
  }
  .about__title > span {
    font-size: var(--text-lg);
  }
}
@media (min-width: 768px) {
  .about__title {
    font-size: var(--text-3xl);
  }
  .about__title > span {
    font-size: var(--text-xl);
  }
  .about__container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .about__container > * + * {
    margin-top: 0;
    margin-left: 3rem;
  }
}
